div.price {
    padding: 15px 0px 0px;
    margin: 0px 2px 0px 0px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    width: 60px;
    height: 40px;
    border: 3px solid rgb(225, 26, 48);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-weight: bold;
    line-height: 100%;
    margin: 0 auto;
}

div.name{
    color: rgb(225, 26, 48);
    font-weight: bold;
    margin-bottom:5px;
    height: 40px;
}

a:link, a:visited {color:#444;}
a:hover, a:active  {color:#c60021;}

.nav-list .active a, .nav-list .active a:hover, .nav-list .active a:focus{
    background-color: #c60021;
}

.grey-rounded-block-1 {
    background: none repeat scroll 0% 0% rgb(243, 243, 243);
    border-radius: 4px 4px 4px 4px;
	margin: 10px;
    margin-top: 0px;
	padding:25px;
}



